/* Estilos Generales y Reset (mantener los mismos del anterior) */
:root {
    --primary-color: #0d6372; /* Azul oscuro */
    --secondary-color: #16A2BA; /* Azul medio */
    --accent-color: #20d6f6; /* Azul claro para detalles */
    --text-color: rgb(203, 203, 203);
    --light-gray: #0c3146;
    --background: #051118;
    --white: #01090b;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserral', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background);
}

h1, h2, h3 {
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: "Italiana", sans-serif;
    font-weight: 600;
    font-style: normal;
    /*color: var(--primary-color);*/
    margin-bottom: 0.8em;
}

h1 { font-size: 2.8em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.6em; }

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--accent-color);
}

.container {
    width: 80%;
    margin: 40px auto;
    padding: 20px 20px 40px;
    max-width: 1200px;
    background-color: black;
    border-radius: 10px;
}

/* Header y Navegación */
header {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--background);
    padding: 1em 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.logo {
    font-family: 'Italiana', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: var(--secondary-color);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: white;
    font-weight: 400;
    padding: 5px 0;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--accent-color);
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease-in-out;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Hero Section */
.hero {
    background: url(images/Estrella1.png) no-repeat center center/cover; /* Reemplaza con tu imagen de fondo */
    color: white;
    text-align: center;
    padding: 20px 40px 40px;
    height: 80vh; /* Ocupa el 80% de la altura de la ventana */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero .espacio {
    height: 15rem;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3); /* Oscurece la imagen para que el texto resalte */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
}

.hero h1 {
    font-size: 3.5em;
    margin: 0 0 0.5em;
}

.hero p {
    font-size: 1.3em;
    margin-bottom: 1.5em;
    color: var(--white);
}

.btn {
    font-family: "Italiana", sans-serif;
    font-weight: 600;
    font-style: normal;
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding: 12px 25px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn:hover {
    background-color: var(--white);
    transform: translateY(-2px);
}

/* Secciones de Contenido */
section {
    padding: 60px;
}

section:nth-child(even) { /* Estilo para secciones pares */
    background-color: var(--light-gray);
}

section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
}

/* --- Sobre Nosotros --- */
#sobre-nosotros {
    text-align: center;
}

.about-section {
    /*margin-top: 50px;*/
    text-align: center;
    padding: 0 60px;
    max-width: 700px;
    margin: auto;
}

.about-section h3 {
    font-size: 1.8em;
    margin-bottom: 30px;
    color: var(--secondary-color);
}

.director-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: 0 auto 0px auto;
    padding: 0 20px 20px;
    background-color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.05);
}

.director-name {
    font-family: 'Italiana';
    font-size: 1.4em;
    font-weight: 600;
    margin: 0;
    padding: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 3px solid var(--accent-color);
}

.members-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    /*margin-top: 30px;*/
}

.member-card {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.05);
    text-align: center;
    font-size: smaller;
    line-height: 1.4em;
}

.member-name {
    font-family: 'Italiana';
    font-size: 1.4em;
    font-weight: 600;
}

.profile-pic-small {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid var(--accent-color);
}

/* Conciertos */
.conciertos {
    display: flex;
    justify-content: center;
}

#conciertos-list {
    max-width: 800px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.concierto-item {
    background-color: var(--white);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.05);
    transition: transform 0.3s ease;
    position: relative; /* Para el botón "Ver Programa" */
}

.concierto-item:hover {
    transform: translateY(-5px);
}

.concierto-item h3 {
    color: var(--secondary-color);
    margin-top: 0;
}

.concierto-item .btn-programa {
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 8px 15px;
    font-size: 0.9em;
    border-radius: 5px;
    margin-top: 15px;
    display: inline-block; /* Para que sea un botón */
}

.concierto-item .btn-programa:hover {
    background-color: var(--primary-color);
}

.programa-detail {
    margin-top: 15px;
    padding-top: 15px;
    /*border-top: 1px dashed var(--light-gray);*/
    display: none; /* Oculto por defecto */
}

.programa-detail ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.programa-detail ul li {
    padding-top: 20px;
    margin-top: 20px;
    font-size: 0.95em;
    color: #bdbdbd;
    border-top: 1px solid var(--light-gray);
}


/* --- Carrusel de Galería --- */
.carousel-container {
    position: relative;
    max-width: 900px; /* Ancho máximo del carrusel */
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 100%;
    flex-shrink: 0; /* Evita que las imágenes se encojan */
    height: 450px; /* Altura fija para las imágenes del carrusel */
    object-fit: cover; /* Recorta la imagen para que cubra el área */
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 50%;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.carousel-btn:hover {
    opacity: 1;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}
/* Sumate */
.sumate {
    margin: auto;
    text-align: center;
    max-width: 700px;
}

.sumateConvImg {
    width: 80%;
}

/* Contacto */
.contactoContenido {
    max-width: 700px;
    text-align: center;
    margin: auto;
}

#contacto .contact-btn {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 1.1em;
}

.small-text {
    font-size: 0.85em;
    color: #777;
    margin-top: 10px;
}


/* Footer (mantener los mismos del anterior) */
footer {
    background-color: var(--background);
    color: var(--secondary-color);
    text-align: center;
    padding: 20px 0;
    font-size: 0.8em;
    margin-top: 50px;
}

/* Responsive Design (mantener y ajustar si es necesario) */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        margin-top: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav ul li {
        margin: 0 10px 10px 10px;
    }

    .hero h1 {
        font-size: 2.5em;
    }

    .hero p {
        font-size: 1em;
    }

    .container {
        width: 90%;
        margin: 30px auto;
    }

    section h2 {
        font-size: 2em;
    }

    .director-info {
        padding: 15px;
    }

    .members-grid {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); /* Ajuste para móviles */
    }

    .carousel-slide img {
        height: 300px; /* Altura más pequeña en móviles */
    }
}